service firebase.storage {
  match /b/{bucket}/o {
    match /attachments/{code}/{tripId}/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
